.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding: 50px 0 200px;
  background: url("../img/background.png") center no-repeat;
  background-size: 100%;
}
.header__container {
  max-width: 1450px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: end;
  gap: 150px;
}
.header__item {
  display: flex;
  gap: 70px;
}
.header__link a {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.15px;
  color: #ffffff;
}
.header__title {
  margin: 210px 0 25px;
  font-family: "Work Sans", sans-serif;
  font-size: 82px;
  font-weight: 700;
  line-height: 96.19px;
  text-align: center;
  color: #ffffff;
}
.header__desc {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.header__search {
  overflow: hidden;
  display: flex;
  margin: 45px 0 0 450px;
  background-color: #f0e0bf;
  border-radius: 30px;
  padding: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid #fff;
}
.header__search input {
  border: 2px solid #fff;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 9px;
  flex-grow: 1;
  color: #333;
}
.header__search input::-moz-placeholder {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  text-align: left;
}
.header__search input:-ms-input-placeholder {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  text-align: left;
}
.header__search input::placeholder {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  text-align: left;
}
.header__button {
  background-color: transparent;
  border-radius: 50px;
  border: none;
  background-color: #525A55;
  cursor: pointer;
}
.header__button img {
  width: 20px;
  height: 20px;
  margin: 2px 2px;
}
.header__shop {
  position: relative;
  display: inline-block;
  margin-left: 1300px;
}
.header__tag {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.48);
  padding: 20px;
  border-radius: 24px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffffff;
}
.header__price {
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.54px;
  text-align: left;
  color: #ffffff;
}
.header__name {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.77px;
  text-align: left;
  color: #ffffff;
}
.header__click {
  position: relative;
  bottom: -67%;
  right: 20%;
  width: 54px;
  height: 54px;
  border: 3px solid #ffffff;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 50px;
  text-align: center;
}
.header__circl {
  top: 31%;
  left: 32%;
  width: 16px;
  height: 16px;
  border: 3px solid #ffffff;
  position: absolute;
  border-radius: 50px;
  text-align: center;
  background-color: #fff;
}
.header__person {
  position: relative;
  display: inline-block;
  width: 360px;
  margin-top: 20px;
}
.header__subtext {
  position: absolute;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(205, 203, 203, 0.48);
  padding: 24px 30px;
  border-radius: 50px;
  text-align: center;
}
.header__subtext h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: #ffffff;
}
.header__subtext ul {
  display: flex;
  gap: 20px;
}
.header__subtext ul li {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: rgba(145, 144, 144, 0.84);
}
.header__subtext p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  color: #ffffff;
}

.product {
  padding: 100px 0;
}
.product__top {
  display: flex;
  gap: 160px;
}
.product__bottom {
  display: flex;
  gap: 20px;
}
.product__bottom img {
  max-width: 100%;
}
.product__item h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 27.37px;
  font-weight: 500;
  line-height: 32.11px;
  color: #081323;
}
.product__item p {
  margin-top: 15px;
  font-family: "Work Sans", sans-serif;
  font-size: 17.11px;
  font-weight: 500;
  line-height: 20.07px;
  text-align: left;
  color: #828282;
}
.product__title {
  margin: 140px 0 30px;
  width: 40%;
  font-family: "Work Sans", sans-serif;
  font-size: 75.63px;
  font-weight: 600;
  line-height: 88.72px;
  text-align: left;
  color: #081323;
}
.product__subtitle {
  font-family: "Work Sans", sans-serif;
  font-size: 25.93px;
  font-weight: 500;
  line-height: 30.42px;
  text-align: left;
  color: #4f4f4f;
}
.product__subtitle img {
  margin-left: 10px;
}
.product__subtitle:hover {
  font-size: 27px;
}
.product__foto {
  display: flex;
  gap: 65px;
  overflow-x: scroll;
}
.product__collection {
  grid-template-columns: auto;
  grid-gap: 20px;
  flex: none;
  margin-top: 45px;
  width: 350px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.product__scroll {
  display: flex;
  gap: 80px;
  margin-left: 8px;
}
.product__scroll h4 {
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.61px;
  letter-spacing: -0.05em;
  color: #292929;
}
.product__scroll p {
  margin: 10px 0;
  font-family: "Gotham", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.29px;
  letter-spacing: -0.05em;
  color: #292929;
}
.product__icon {
  margin-left: 75px;
}
.product__labels {
  margin-left: 8px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.product__label {
  padding: 4px 8px;
  background-color: #f0e4d7;
  color: #dcb47a;
  border-radius: 20px;
  font-size: 0.8rem;
  border: 1px solid #dcb47a;
}
.product__label:hover {
  cursor: pointer;
}

.interior {
  padding: 60px;
}
.interior__title {
  font-family: "Work Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 75.07px;
  text-align: center;
  color: #081323;
}
.interior__desc {
  margin: 35px 0 80px;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.15px;
  text-align: center;
  color: #4f4f4f;
}
.interior__collection {
  display: flex;
  gap: 70px;
  align-items: center;
  margin: 40px 0;
}
.interior__foto {
  position: relative;
}
.interior__foto img {
  filter: grayscale(50%);
}
.interior__text {
  position: absolute;
  top: 40%;
  left: 26%;
  font-family: "Work Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 75.07px;
  align-items: center;
  color: #fff;
}

.text {
  padding: 70px;
  background-color: #262626;
}
.text__title h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 62.83px;
  font-weight: 600;
  line-height: 81.68px;
  text-align: center;
  color: #fff;
}
.text__title span {
  font-family: "Work Sans", sans-serif;
  font-size: 62.83px;
  font-weight: 600;
  line-height: 81.68px;
  text-align: center;
  color: #dcb47a;
}
.text__title p {
  margin: 10px 0 50px;
  font-family: "Work Sans", sans-serif;
  font-size: 20.94px;
  font-weight: 400;
  line-height: 27.23px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.text__but {
  display: flex;
  justify-content: center;
}
.text__button {
  width: 205.19px;
  height: 64.39px;
  background-color: #dcb47a;
  border-radius: 60px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  color: #fff;
  border: none;
}
.text__button:hover {
  font-size: 18px;
  color: #000;
}

.footer {
  padding: 160px 0 60px;
}
.footer__top {
  display: flex;
  gap: 90px;
}
.footer__content {
  overflow: hidden;
  margin-top: 60px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 360px;
  height: 60px;
}
.footer__input {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 1rem;
  flex: 1;
  color: #333;
  width: 300px;
}
.footer__input::-moz-placeholder {
  color: #878787;
}
.footer__input:-ms-input-placeholder {
  color: #878787;
}
.footer__input::placeholder {
  color: #878787;
}
.footer__button {
  margin-right: 10px;
  width: 130px;
  background-color: #d8a96d;
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 30px;
  transition: background-color 0.3s;
}
.footer__button:hover {
  background-color: #b8860b;
}
.footer__bottom {
  display: flex;
}
.footer__text {
  margin-right: 60px;
  max-width: 200px;
}
.footer__link {
  margin: 10px 0;
}
.footer__link a {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}
.footer__link:first-child {
  margin: 0 0 25px;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  color: #000000;
}
.footer__subtitle {
  margin-top: 50px;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.15px;
  text-align: center;
  color: #000000;
}/*# sourceMappingURL=style.css.map */