.header {
  padding: 40px;
  background: url("../../img/background.png") center no-repeat;
  background: cover;

  &__top {
    display: flex;
    justify-content: end;
    gap: 150px;
  }
  &__item {
    display: flex;
    gap: 70px;
  }
  &__link {
    a {
      font-family: "Work Sans", sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 28.15px;
      color: #ffffff;
    }
  }
  &__title {
    margin: 210px 0 25px;
    font-family: "Work Sans", sans-serif;
    font-size: 82px;
    font-weight: 700;
    line-height: 96.19px;
    text-align: center;
    color: #ffffff;
  }
  &__desc {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
  }

  &__search {
    margin: 45px 0 0 450px ;
    background-color: #f0e0bf;
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    input {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      padding: 10px;
      flex-grow: 1;
      color: #333;
      filter: blur(2px);
    }

    input::placeholder {
      color: #fff;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      margin: 5px 0 0 40px
    }
  }

  &__shop {
    width: 300px;
    height: 150px;
    border-radius: 30px;
    background-color: #fff;
    padding: 10px;
    flex-grow: 1;
    color: #333;
    border: 2px solid #000;
    filter: blur(20px);
  }
}
