.header {
  padding: 50px 0 200px;
  background: url("../img/background.png") center no-repeat;
  background-size: 100%;

  &__container {
    max-width: 1450px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: end;
    gap: 150px;
  }
  &__item {
    display: flex;
    gap: 70px;
  }
  &__link {
    a {
      font-family: "Work Sans", sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 28.15px;
      color: #ffffff;
    }
  }
  &__title {
    margin: 210px 0 25px;
    font-family: "Work Sans", sans-serif;
    font-size: 82px;
    font-weight: 700;
    line-height: 96.19px;
    text-align: center;
    color: #ffffff;
  }
  &__desc {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
  }

  &__search {
    display: flex;
    margin: 45px 0 0 450px;
    background-color: #f0e0bf;
    border-radius: 30px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    input {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
      padding: 9px;
      flex-grow: 1;
      color: #333;
      filter: blur(2px);
    }

    input::placeholder {
      color: #fff;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      margin: 5px 0 0 40px;
    }
  }

  &__shop {
    position: relative;
    display: inline-block;
    margin-left: 1300px;
  }

  &__tag {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.48);
    padding: 20px;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
  }

  &__price {
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.54px;
    text-align: left;
    color: #ffffff;
  }

  &__name {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.77px;
    text-align: left;
    color: #ffffff;
  }

  &__click {
    position: relative;
    bottom: -67%;
    right: 20%;
    width: 54px;
    height: 54px;
    border: 3px solid #ffffff;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 50px;
    text-align: center;
  }
  &__circl {
    top: 31%;
    left: 32%;
    width: 16px;
    height: 16px;
    border: 3px solid #ffffff;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
  }

  &__person {
    position: relative;
    display: inline-block;
    width: 360px;
    margin-top: 20px;
  }

  &__subtext {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.48);
    padding: 24px 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    h3 {
      font-family: "Work Sans", sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px;
      text-align: left;
      color: #ffffff;
    }
    ul {
      display: flex;
      gap: 20px;

      li {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        color: rgba(145, 144, 144, 0.84);
      }
    }
    p {
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 27.2px;
      text-align: left;
      color: #ffffff;
    }
  }
}
