.text {
  padding: 70px;
  background-color: #262626;

  &__title {
    h2 {
      font-family: "Work Sans", sans-serif;
      font-size: 62.83px;
      font-weight: 600;
      line-height: 81.68px;
      text-align: center;
      color: #fff;
    }
    span {
      font-family: "Work Sans", sans-serif;
      font-size: 62.83px;
      font-weight: 600;
      line-height: 81.68px;
      text-align: center;
      color: #dcb47a;
    }
    p {
      margin: 10px 0 50px;
      font-family: "Work Sans", sans-serif;
      font-size: 20.94px;
      font-weight: 400;
      line-height: 27.23px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__but {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 205.19px;
    height: 64.39px;
    background-color: #dcb47a;
    border-radius: 60px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    color: #fff;

    &:hover {
      font-size: 18px;
      color: #000;
    }
  }
}
